Repository PaulBlanche/frugal-node: changes, and which Codecov flags are due for each by the changed paths.
All: core, exporter-static, exporter-vercel, plugin-css, plugin-script, preact, session

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: core  
      paths:
        - packages/core/**

    - component_id: exporter-static
      paths:
        - packages/exporter-static/**

    - component_id: exporter-vercel  
      paths:
        - packages/exporter-vercel/**

    - component_id: plugin-css
      paths:
        - packages/plugin-css/**

    - component_id: plugin-script
      paths:
        - packages/plugin-script/**

    - component_id: preact
      paths:
        - packages/preact/**
  
    - component_id: session
      paths:
        - packages/session/**

unit tests
  packages/core/exports/server/index.d.ts
  packages/core/src/RuntimeConfig.d.ts
  packages/core/src/server/middleware/compress.js
  packages/core/src/server/middleware/error.js
  packages/core/src/server/middleware/forceGenerateStaticPage.js
  packages/core/src/server/session/CookieSessionStorage.d.ts
  packages/core/src/server/session/MemorySessionStorage.d.ts
  packages/core/src/server/session/Session.d.ts
  packages/core/src/server/session/SessionManager.d.ts
  packages/core/src/server/session/SessionStorage.d.ts
  packages/core/src/server/session/SessionStorage.js
  packages/core/test/unit/server/CookieSessionStorage.test.js
  packages/core/test/unit/server/SessionManager.test.js
  packages/core/test/unit/server/middleware/buildJitStaticPage.test.js
  packages/core/test/unit/server/middleware/compress.test.js
  packages/core/test/unit/server/middleware/error.test.js
  packages/core/test/unit/server/middleware/etag.test.js
  packages/core/test/unit/server/middleware/fixtures.js
  packages/core/test/unit/server/middleware/forceGenerateStaticPage.js
Due: core

fix lint
  packages/core/test/unit/server/middleware/compress.test.js
  packages/core/test/unit/server/middleware/error.test.js
  packages/core/test/unit/server/middleware/forceGenerateStaticPage.test.js
Due: core

more unit tests
  packages/core/src/RuntimeConfig.d.ts
  packages/core/src/RuntimeConfig.js
  packages/core/src/server/FrugalServer.js
  packages/core/src/server/context.d.ts
  packages/core/src/server/middleware/forceRefreshStaticPage.d.ts
  packages/core/src/server/middleware/forceRefreshStaticPage.js
  packages/core/src/server/middleware/router.d.ts
  packages/core/src/server/middleware/router.js
  packages/core/src/server/middleware/strictPathCheck.d.ts
  packages/core/src/server/middleware/strictPathCheck.js
  packages/core/test/unit/server/middleware/generateDynamicPage.test.js
  packages/core/test/unit/server/middleware/router.test.js
Due: core

moar unit tests
  doc/src/pages/test/action.ts
  packages/core/src/RuntimeConfig.d.ts
  packages/core/src/RuntimeConfig.js
  packages/core/src/server/FrugalServer.d.ts
  packages/core/src/server/FrugalServer.js
  packages/core/src/server/Server.js
  packages/core/src/server/middleware/error.d.ts
  packages/core/src/server/middleware/error.js
  packages/core/src/server/middleware/errorPage.d.ts
  packages/core/src/server/middleware/errorPage.js
  packages/core/src/server/middleware/serveFromCacheStaticPage.js
  packages/core/src/server/middleware/watchModeResponseModification.js
  packages/core/src/server/utils.js
  packages/core/src/utils/error.d.ts
  packages/core/src/utils/error.js
  packages/core/src/utils/send.js
  packages/core/src/watch/ChildContext.js
  packages/core/src/watch/Watcher.js
  packages/core/test/integration/build/importMeta/fixtures/frugal.config.js
  packages/core/test/integration/build/incremental/fixtures/frugal.config.js
  packages/core/test/integration/build/pages/fixtures/frugal.config.js
  packages/core/test/integration/server/fixtures/frugal.config.js
  packages/core/test/integration/watch/fixtures/frugal.config.js
  packages/core/test/unit/server/composeMiddleware.test.js
  packages/core/test/unit/server/middleware/error.test.js
  packages/core/test/unit/server/middleware/errorPage.test.js
  packages/core/test/unit/server/middleware/fixtures.js
  packages/core/test/unit/server/middleware/serveFromCacheStaticPage.test.js
  packages/core/test/unit/server/middleware/strictPathCheck.test.js
  packages/core/test/unit/server/utils.test.js
  packages/core/test/unit/utils/error.test.js
  packages/exporter-vercel/src/utils.js
  packages/exporter-vercel/src/vercel.js
  packages/plugin-css/test/integration/css-modules/fixtures/frugal.config.js
  packages/plugin-css/test/integration/css/fixtures/frugal.config.js
  packages/plugin-script/test/integration/cssModules/fixtures/frugal.config.js
  packages/plugin-script/test/integration/scripts/fixtures/frugal.config.js
  packages/preact/test/integration/fixtures/frugal.config.js
  packages/session/test/integration/fixtures/frugal.config.js
  packages/test-utils/src/ServerHelper.js
Due: core, exporter-vercel, plugin-css, plugin-script, preact, session

fix inte tests
  packages/core/src/server/middleware/errorPage.js
  packages/preact/test/integration/fixtures/frugal.config.js
Due: core, preact

hide stack on prod
  doc/src/pages/test/action.ts
  packages/core/src/server/middleware/errorPage.js
Due: core

c8 coverage
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/core/test/integration/watch/fixtures/frugal.build.js
  packages/core/test/unit/server/middleware/errorPage.test.js
  packages/test-utils/src/runner.js
Due: core

c8 coverage
  .github/workflows/doc-preview.yml
  .github/workflows/doc-production.yml
  packages/test-utils/src/runner.js
Due: none

c8 coverage
  packages/test-utils/src/runner.js
Due: none

client-side coverage integration test
  package-lock.json
  package.json
  packages/core/src/RuntimeConfig.d.ts
  packages/core/src/RuntimeConfig.js
  packages/core/src/server/FrugalServer.js
  packages/core/src/server/middleware/compress.js
  packages/preact/test/integration/fixtures/frugal.build.js
  packages/preact/test/integration/fixtures/frugal.config.js
  packages/session/test/integration/fixtures/frugal.build.js
  packages/session/test/integration/main.test.js
  packages/test-utils/src/puppeteer-coverage.js
  packages/test-utils/src/puppeteer.js
  packages/test-utils/src/runner.js
Due: core, preact, session

fix lint
  packages/test-utils/src/puppeteer.js
Due: none

diff test
  package-lock.json
  package.json
  packages/session/src/page/render/diff.js
  packages/session/src/page/render/render.js
  packages/session/test/unit/render/diff.test.js
  packages/session/test/unit/render/patch.test.js
  packages/test-utils/src/jsdom.js
  packages/test-utils/src/runner.js
Due: session

fix favicon
  doc/src/pages/_layout/BaseLayout.tsx
Due: none

i18n doc
  doc/frugal.config.ts
  doc/src/components/code/Code.tsx
  doc/src/components/code/CodeWrapper.tsx
  doc/src/data/doc/1.0.0/en/00-introduction.md
  doc/src/data/doc/1.0.0/en/01-getting-started.md
  doc/src/data/doc/1.0.0/en/01-getting-started/00-create-a-project.md
  doc/src/data/doc/1.0.0/en/01-getting-started/01-blog-posts.md
  doc/src/data/doc/1.0.0/en/01-getting-started/02-styles-and-scripts.md
  doc/src/data/doc/1.0.0/en/01-getting-started/03-using-preact.md
  doc/src/data/doc/toc.ts
  doc/src/middlewares/docLatestRewrite.ts
  doc/src/pages/_layout/TopNavigation.tsx
  doc/src/pages/_layout/session.script.ts
  doc/src/pages/doc/components/sitenav/Content.module.css
  doc/src/pages/doc/page.ts
  doc/src/pages/home/_layout/HomeLayout.tsx
  doc/src/pages/home/page.ts
  doc/src/pages/home/type.ts
  package-lock.json
  packages/core/src/RuntimeConfig.d.ts
  packages/core/src/RuntimeConfig.js
  packages/core/src/build/buildPlugin.js
  packages/core/src/page/PageDescriptor.js
  packages/core/src/server/FrugalServer.js
  packages/core/src/server/context.d.ts
  packages/core/src/server/middleware/compress.js
  packages/core/src/server/middleware/router.js
Due: core
